.hero {
    margin-top: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .content {
        .content-title {
            font-size: 62px;
            font-weight: 700;
        }
        .content-description,
        .content-bottom {
            color: var(--color-64);
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            margin-top: 22px;
        }
        .content-bottom {
            margin-top: 50px;
            .link {
                color: var(--primary-color);
            }
        }
    }
    .image {
        position: relative;
        right: 0;
    }
}
