.user-page {
    margin-top: 50px;
    .title {
        font-size: 30px;
        font-weight: 600;
    }
    .user-list {
        margin-top: 30px;
        display: grid;
        gap: 30px;
        grid-template-columns: 25% 25% 25% 25%;
    }
    .user-item {
        border-radius: 20px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        .user-image {
            --size: 300px;
            width: 100%;
            height: var(--size);
            border-radius: 20px;
            object-fit: cover;
        }
        .user-bottom {
            padding: 20px;
            text-align: center;
            button {
                --padding: 35px;
                padding-left: var(--padding);
                padding-right: var(--padding);
            }
        }
    }

    .user-update {
        --spack: 50px;
        background-color: var(--white-color);
        color: var(--text-color);
        padding: var(--spack);
        margin: var(--spack);
        border-radius: 20px;

        .title-update {
            font-size: 30px;
            font-weight: 600;
            text-align: center;
        }

        .btn-update-user {
            display: block;
            margin: auto;
            margin-top: 30px;
        }
    }
}
